---
import { Image } from "astro:assets";
const { src, alt } = Astro.props;
---

<div>
  <Image
    class="project-image border border-black"
    src={src}
    alt={alt}
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
